<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Best Practice sharing</a></li>
              <li class="breadcrumb-item active">Add new Best Practice</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
 <!-- Main content -->
 <section class="content">
    <div class="container-fluid">
  

      <div class="card card-dark">
        <div class="card-header">
          <h3 class="card-title float-sm-center"><b>WSD Best Practice SHARING</b></h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Title/Content:</label>
                <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>

              </div>
              <!-- /.form-group -->
            </div>
          </div>
        </div>
        <!-- /.card-body -->
        
      </div>
      <!-- /.card -->

      <div class="row">
        <div class="col-md-6">

          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title"></h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label>Plant (LOKID):</label>
                
                <div class="input-group my-colorpicker2">
                  <input type="text" class="form-control">
                </div>
              </div>
              <!-- /.form group -->


              <div class="form-group">
                <label>ORG-Unit:</label>

                <div class="input-group">
                  <div class="input-group my-colorpicker2">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <!-- /.form group -->

              <div class="form-group">
                <label>Issued by:</label>

                <div class="input-group">
                  <div class="input-group my-colorpicker2">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <!-- /.form group -->

              

                <div class="form-group">
                  <label>Date:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input type="date" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="mm/dd/yyyy" data-mask>
                  </div>
              </div>
              <!-- /.form group -->

              <div class="form-group">
                <label>Approved by:</label>

                <div class="input-group">
                  <div class="input-group my-colorpicker2">
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <!-- /.form group -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Color & Time Picker</h3>
            </div>
            <div class="card-body">
              <!-- Color Picker -->
              <div class="form-group">
                <label>Color picker:</label>
                <input type="text" class="form-control my-colorpicker1">
              </div>
              <!-- /.form group -->

              <!-- Color Picker -->
              <div class="form-group">
                <label>Color picker with addon:</label>

                <div class="input-group my-colorpicker2">
                  <input type="text" class="form-control">

                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-square"></i></span>
                  </div>
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->

              <!-- time Picker -->
              <div class="bootstrap-timepicker">
                <div class="form-group">
                  <label>Time picker:</label>

                  <div class="input-group date" id="timepicker" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#timepicker"/>
                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                    </div>
                  <!-- /.input group -->
                </div>
                <!-- /.form group -->
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col (left) -->
        <div class="col-md-6">
         

          <!-- iCheck -->
          <div class="card card-default">
            <div class="card-header">
              <label>Category of improvement:</label>

            </div>
            <div class="card-body">

              <!-- Minimal style -->
              <div class="row">
                <div class="col-sm-6">
                  <!-- checkbox -->
                  
                  <div class="form-group clearfix">
                   
                    <div class="icheck-danger d-inline">
                      <input type="checkbox" id="checkboxDanger2">
                      <label for="checkboxDanger2"> &nbsp; Quality
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group clearfix">
          
                    <div class="icheck-danger d-inline">
                      <input type="checkbox" id="checkboxDanger2">
                      <label for="checkboxDanger2"> &nbsp; Productivity
                      </label>
                    </div>
                  </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <!-- checkbox -->
                  <div class="form-group clearfix">
                    <div class="icheck-danger d-inline">
                      <input type="checkbox" id="checkboxDanger2">
                      <label for="checkboxDanger2"> &nbsp; Organisation
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group clearfix">
                    <div class="icheck-danger d-inline">
                      <input type="checkbox" id="checkboxDanger2">
                      <label for="checkboxDanger2"> &nbsp; Security / Env
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Minimal red style -->
              
              <div class="row">
                <div class="col-sm-6">
                  <!-- checkbox -->
                  <div class="form-group clearfix">
                    <div class="icheck-success d-inline">
                      <input type="checkbox" checked id="checkboxSuccess1">
                      <label for="checkboxSuccess1">
                      </label>
                    </div>
                    <div class="icheck-success d-inline">
                      <input type="checkbox" id="checkboxSuccess2">
                      <label for="checkboxSuccess2">
                      </label>
                    </div>
                    <div class="icheck-success d-inline">
                      <input type="checkbox" disabled id="checkboxSuccess3">
                      <label for="checkboxSuccess3">
                        Success checkbox
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- radio -->
                  <div class="form-group clearfix">
                    <div class="icheck-success d-inline">
                      <input type="radio" name="r3" checked id="radioSuccess1">
                      <label for="radioSuccess1">
                      </label>
                    </div>
                    <div class="icheck-success d-inline">
                      <input type="radio" name="r3" id="radioSuccess2">
                      <label for="radioSuccess2">
                      </label>
                    </div>
                    <div class="icheck-success d-inline">
                      <input type="radio" name="r3" disabled id="radioSuccess3">
                      <label for="radioSuccess3">
                        Success radio
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            
            <div class="card-footer">
              Many more skins available. <a href="http://fronteed.com/iCheck/">Documentation</a>
            </div>
          </div>
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Date picker</h3>
            </div>
            <div class="card-body">
              <!-- Date range -->
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="exampleInputFile">
                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text" id="">Upload</span>
                  </div>
                </div>
             
            </div>

              <!-- Date and time range -->
              <div class="form-group">
                <label>Date and time range:</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                  </div>
                  <input type="text" class="form-control float-right" id="reservationtime">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->

              <!-- Date and time range -->
              <div class="form-group">
                <label>Date range button:</label>

                <div class="input-group">
                  <button type="button" class="btn btn-default float-right" id="daterange-btn">
                    <i class="far fa-calendar-alt"></i> Date range picker
                    <i class="fas fa-caret-down"></i>
                  </button>
                </div>
              </div>
              <!-- /.form group -->

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
          <!-- /.card -->

          <!-- Bootstrap Switch -->
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Bootstrap Switch</h3>
            </div>
            <div class="card-body">
              <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch>
              <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch data-off-color="danger" >
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<!-- /.control-sidebar -->

<!-- ./wrapper -->