 <div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-4">
              <h1></h1>
            </div>
            <div class="col-sm-3">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Profiles</a></li>
                <li class="breadcrumb-item active">Edit profile</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
    
      <section class="content">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    
        <div class="row">
            <div class="col-md-3">
            </div>
          <div class="col-md-6">
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">General</h3>
    
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i></button>
                </div>
              </div>
              <div class="card-body">
                <small  class="text-danger">{{msg}}</small>
                <div class="form-group">
                    <label for="inputName">Rolename</label>
                    <input type="text" name="profile" class="form-control" id="exampleInputPassword1"  value="role.name" [(ngModel)]="role.name" required #name="ngModel"
                    [class.is-invalid]="(name.invalid && name.touched)" disabled >
 
                 
                  </div> 
                  <div class="form-group">
                    <label for="inputName" >Permissions</label>
                  
                      <div class="row">
                      
                        <div class="col-sm-1">
                          <div class="icheck-primary d-inline">
                            <input type="checkbox" id="checkboxPrimary1"  name="RoleManagement" value="true" change="radioChangeHandlerRole($event)" [(ngModel)]="role.roleManagement" >
                            <label for="checkboxPrimary1">
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <h6 for="checkboxPrimary1">
                            Role management
                           </h6>
                        </div>
                      </div>   
                      <div class="row">
                        <div class="col-sm-1">
                          <div class="icheck-primary d-inline">
                            <input type="checkbox" id="checkboxPrimary2"  name="userManagement" value="true" change="radioChangeHandlerUser($event)" [(ngModel)]="role.userManagement" >
                            <label for="checkboxPrimary2">
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <h6 for="checkboxPrimary2">
                            User management
                           </h6>
                        </div>
                        
                      </div>      
                      <div class="row">
                        
                        <div class="col-sm-1">
                          <div class="icheck-primary d-inline">
                            <input type="checkbox" id="checkboxPrimary3" name="orderManagement" value="true" change="radioChangeHandlerOrder($event)" [(ngModel)]="role.orderManagement" >
                            <label for="checkboxPrimary3">
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <h6 for="checkboxPrimary3">
                            Order management
                           </h6>
                        </div>
                      </div>   

                    
                 
                  </div> 
                    
           
            </div>
            </div>
          </div>
           
        </div>
        <div class="row">
          <div class="col-md-3">
          </div>
          
          <div class="col-md-6">        <input type="submit" value="Save changes" class="btn btn-primary float-right" [disabled]="f.invalid" >
    
        </div>
        </div>
    </form>
    
      </section>
    </div> 