<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4">
          <h1>Add user</h1>
        </div>
        <div class="col-sm-3">
          <ol class="breadcrumb float-sm-right">
           
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="card card-default">
            
              <!-- /.card-header -->
              <div class="card-body">
               
                
             
                <div class="callout callout-danger">
                  <h5><i class="bi bi-check">
Oops !
                  <b>{{this.username}}</b>  you have not validated this order  !</i></h5>

                </div>
                <div class="row">      <div class="col-md-5"></div>      <div class="col-md-8">
                    
                  

                    </div>

                </div>
              </div>
              </div>
              </div>







     
    </div>

  </section>
