<body class="hold-transition login-page">

<div class="login-box">
    <div class="login-logo">
      <a></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <small  class="text-danger">{{msg}}</small>

        <form #f="ngForm" (ngSubmit)="signIn(f)"*ngIf="!isLoggedIn" >
          <div class="input-group mb-3">
         
      
            <input type="text" class="form-control" placeholder="username" name="email"  [(ngModel)]="user.username" required #username="ngModel"  [class.is-invalid]="username.invalid && username.touched">
            <div class="input-group-append">
              <!-- <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div> -->
            </div>
            <small  class="text-danger" [class.d-none]="(username.valid || username.untouched)">username is required field</small>

          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password"name="password" class="form-control" id="exampleInputPassword1"  [(ngModel)]="user.password" required #password="ngModel"
            [class.is-invalid]="(password.invalid && password.touched)" >
            <small  class="text-danger" [class.d-none]="(password.valid || password.untouched)">Password is required field</small>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="f.invalid" >Sign In</button>
            </div>
            <!-- /.col -->
          </div>  <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isLoginFailed"
            >
              Login failed: {{ msg }}
            </div>
          </div>
        </form>
    
        <div class="alert alert-success" *ngIf="isLoggedIn">
          Logged in as {{ roles }}.
        </div>
        <!-- /.social-auth-links -->
  
        <p class="mb-1">
          <a href="forgot-password.html">I forgot my password</a>
        </p>
        
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  </body>